* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-image: url(img/squad.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    font-family: 'Pixelify Sans', sans-serif;
    /*outras fontes: 
        font-family: 'Inter', sans-serif;
        font-family: 'Merriweather', serif;
        font-family: 'Sometype Mono', monospace;
    */
}

h1 {
    color: RGBA(255,255,255,0.80);
    margin: 20px;
    padding: 10px;
    background-color: RGBA(17,0,0,0.22);
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
}

.container-principal {
    display: flex;
    min-height: 80vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: RGBA(255,138,6,0.90);

    border: 8px ridge RGBA(255,255,255,0.90);
    border-radius: 10px;
}

.tela {
    padding: 25px 50px;
    background-color: #000;
    border: 5px solid slategray;
    border-radius: 5px;
}

.area {
    width: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 10px;

    background-color: RGBA(28,37,13,1.6);
    border-radius: 10px;
}
.area .item {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: bold;
    color: #FFF;
    cursor: pointer;
}
.item:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.item.t {
    border-top: 1px solid #FFF;
}
.item.l {
    border-left: 1px solid #FFF;
}
.item.r {
    border-right: 1px solid #FFF;
}
.item.b {
    border-bottom: 1px solid #FFF;
}

.info {
    width: 300px;
    display: flex;
    margin-top: 30px;
    border: 10px groove black;
    padding: 10px;
    border-radius: 60px;
    background-color: RGBA(255,255,255,0.90);
}
.infoitem {
    flex: 1;
}
.infotitulo {
    text-align: center;
    color: #000;
    margin-bottom: 10px;
}
.infocorpo {
    text-align: center;
    color: #000;
    font-size: 15px;
}

.reset {
    border: 1px solid #000;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    color: #FFF;
    padding: 10px;
    margin-top: 20px;
}
.reset:hover {
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

footer {
    margin-top: 50px;
}

a {
    text-decoration: underline;
    color: black;
}
a:hover {
    color: aquamarine;
    font-style: italic;
}